<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="true">

<title>UnSQL Web</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css"
	rel="stylesheet"></link>
</head>

<body class="">

	<div class="container">

		<a class="github-fork-ribbon"
			href="https://github.com/villanianalytics/unSQL"
			data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me
			on GitHub</a>
		<div class="row">
			<div class="col-sm-12">
				<h1>
					<a href="http://www.villytics.com/" target="_blank"><img
						th:src="@{/images/VillaniAnalytics_logo.png}"
						alt="Villani Analytics" style="height: 50px;" />
					</a>UnSQL
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="lead">Utility to run SQL on XML and JSON files</p>
			</div>
		</div>
		<div class="row" th:if="${success} and ${results} != null">
			<div class="col-sm-12">
				<div class="alert alert-success" role="alert">
					Query ran with success, found : <span
						th:text="${#lists.size(results)}"></span>
				</div>
			</div>
		</div>
		<div class="row" th:if="${error} != null">
			<div class="col-sm-12">
				<div class="alert alert-danger" role="alert">
					<span th:text="${error}"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3>Input</h3>
				<form class="form" method="post" action="">
					<div class="form-group">
						<label for="exampleFormControlInput1">SQL Query:</label>
						<textarea class="form-control" id="exampleFormControlTextarea1"
							th:text="${sqlQuery}" name="sqlQuery" placeholder="select ..."
							required rows="3"></textarea>

					</div>
					<div class="form-group">
						<label for="mode" class="control-label">Input Mode:</label> <select
							id="mode" class="form-control">
							<option>json</option>
							<option>xml</option>
						</select>
					</div>
					<input type="hidden" id="inputText" th:value="${inputText}"
						required name="inputText" />
					<div class="form-group">
						<label for="mode" class="control-label">Input text:</label>
						<div class="col-12" style="height: 400px">
							<div id="editor"></div>
						</div>
					</div>
					<br />
					<button type="submit" class="btn btn-primary ">Run Query</button>

				</form>
			</div>
			<div class="col-sm-6">
				<h3>Results</h3>
				<div th:each="result: ${results}">
					<ul th:each="r: ${result.results}" class="list-unstyled">
						<li class="list-group-item" th:text="${r}">/>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<footer class="page-footer font-small blue">
		<div class="footer-copyright text-center py-3">© Villani
			Analytics</div>
	</footer>

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	<script src="https://pagecdn.io/lib/ace/1.4.8/ace.js"
		type="text/javascript" charset="utf-8"></script>
	<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.session.setMode("ace/mode/json");

		var hiddenInput = document.getElementById('inputText');
		editor.getSession().on("change", function() {
			hiddenInput.value = editor.getSession().getValue();
		});

		var mode = document.getElementById('mode');
		mode.addEventListener("change", function(val) {
			if (mode.value == 'xml') {
				editor.session.setMode("ace/mode/xml");
			} else {
				editor.session.setMode("ace/mode/json");
			}
		});

		window.addEventListener("load", function() {
			var mode = document.getElementById('mode');
			var val = document.getElementById('inputText').value;

			editor.setValue(hiddenInput.value, -1);
			if (val.startsWith("<?xml")) {
				mode.value = "xml";
				editor.session.setMode("ace/mode/xml");
			} else {
				mode.value = "json";
				editor.session.setMode("ace/mode/json");
			}
		});
	</script>
</body>
</html>